.App {
  text-align: center;
}

.App-logo {
  width: 215px;
  height: 215px;
  pointer-events: none;
  margin-bottom: -2.5em;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 2.5em;
  margin-bottom: -0.1em;
}

h2 {
  font-size: 0.5em;
  margin-top: 0;
}

.App-link {
  color: #61dafb;
}