.App {
  text-align: center;
}

.App-logo {
  width: 172.5px;
  /* Adjusting based on half the original dimensions to fit better */
  height: 211px;
  /* Adjusting based on half the original dimensions to fit better */
  pointer-events: none;
  margin-bottom: 20px;
  /* Optional: Adds some space between the logo and the content below */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}